# Optic flow connectivity analysis in the male optic lobe

This script is about getting optic flow vectors in the medulla based on the main inputs of direction-selective (DS) T4 cells.
In a nutshell, it...
1. extracts column coordinates data via NeuPrint based on a neuron of reference (e.g., Mi1)
2. extracts presynaptic connectivity via NeuPrint of the cells of interest (e.g., T4 subtypes)
3. generates the 2D grid/lattice structure
4. plots the regular and hexagonal (honeycomb-like) grids using columnar coordinates in the medulla
5. plots and quantifies optic flow data on each type of grid/lattice

## 0. Setting the NeuPrint Client

In [2]:
from neuprint import Client, set_default_client


# Get your own personal TOKEN
TOKEN = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InNlYmFzdGlhbi5tb2xpbmEub2JhbmRvQGdtYWlsLmNvbSIsImxldmVsIjoibm9hdXRoIiwiaW1hZ2UtdXJsIjoiaHR0cHM6Ly9saDMuZ29vZ2xldXNlcmNvbnRlbnQuY29tL2EtL0FPaDE0R2hWZjMxR2RHeURzYmtfUW5qdW00b1U4SVZ5QTBEcXNVaXdNZ1ZrTEE9czk2LWM_c3o9NTA_c3o9NTAiLCJleHAiOjE4MzA5NTQ5MTB9.YUJV-C5VoOZ-huLvc73EhWa6KWnejmemqzl9V-OrBKs'
c = Client('neuprint.janelia.org', dataset='optic-lobe:v1.0.1', token= TOKEN)
c.fetch_version()

'0.1.0'

In [3]:
# Set the created client as the default client
set_default_client(c)

## 1. Extracting data via NeuPrint for the grid

The aim here is to:
- Define a cell type as a reference for all the rest to assign grid coordinates
- Create unique IDs for future columns based on unique coordinates
- Clean the data if there are cells assigned to the same location

In [5]:
import pandas as pd
from neuprint import fetch_neurons, NeuronCriteria, fetch_adjacencies

# Some user parameters
cell_for_grid = 'Mi1'

# Define the criteria for fetching neurons in the medulla of the right optic lobe for the grid
criteria = NeuronCriteria(type=cell_for_grid, rois=['ME(R)']) # Example Type for building the grid: 'Mi1'

# Fetch the neurons
grid_neurons_df, grid_roi_counts_df = fetch_neurons(criteria, client=c)
grid_neurons_ids = grid_neurons_df['bodyId'].tolist()

In [6]:
# Fetch properties of the neurons to verify assignedOlHex1 and assignedOlHex2
properties_df, _ = fetch_neurons(NeuronCriteria(bodyId=grid_neurons_ids), client=c)
df_grid = properties_df[['bodyId', 'type', 'assignedOlHex1', 'assignedOlHex2']].copy()
print("Neurons Properties:")
display(df_grid.head())

Neurons Properties:

   bodyId type  assignedOlHex1  assignedOlHex2
0   17871  Mi1              29              18
1   20135  Mi1              32              18
2   23606  Mi1              25              13
3   27788  Mi1              26              14
4   30997  Mi1              20              14

In [8]:
## Create column id based on unique coordinates combination between assignedOlHex1 and assignedOlHex2
# Create a tuple of coordinates
df_grid['coordinates'] = list(zip(df_grid['assignedOlHex1'], df_grid['assignedOlHex2']))

# Factorize the coordinates to create a unique id
df_grid['column_id'] = pd.factorize(df_grid['coordinates'])[0]

# Check for non-unique cases
duplicates = df_grid[df_grid.duplicated(['coordinates'], keep=False)]

# Print the resulting DataFrame
display(df_grid.head())
print(f'Length: {len(df_grid)}')


# Print the non-unique cases, if any
if not duplicates.empty:
    print("\nNon-unique cases found:")
    print(duplicates)
    # Dropping duplicated
    print("\n>>> Dropping duplicates. Keeping the first <<<")
    df_grid= df_grid.drop_duplicates(subset=['coordinates'], keep='first').copy()
    print(f'Final length: {len(df_grid)}')
else:
    print("All coordinate combinations are unique.")
    df_grid = df_grid.copy()

   bodyId type  assignedOlHex1  assignedOlHex2 coordinates  column_id
0   17871  Mi1              29              18    (29, 18)          0
1   20135  Mi1              32              18    (32, 18)          1
2   23606  Mi1              25              13    (25, 13)          2
3   27788  Mi1              26              14    (26, 14)          3
4   30997  Mi1              20              14    (20, 14)          4

Length: 886
All coordinate combinations are unique.

In [9]:
hex1_ls = df_grid.assignedOlHex1.tolist()
hex2_ls = df_grid.assignedOlHex2.tolist()

In [11]:
## Adapting the data set to be similarly structured and named as int he FAFB data set

# Placing the center column (where p and q axes meet) to 0,0 coordinate, similar as we have it in the FAFB data set
# I take assignedOlHex1 as "p" axis ad assignedOlHex2 as the "pq" axis
# According to the NeuPrint website, the center column has coordinates (19,20)

df_grid['p'] = [i - 19 for i in hex1_ls] # The number 19 was taken from NeuPrint web site
df_grid['q'] = [i - 19 for i in hex2_ls] # The number 19 was taken from NeuPrint web site

# Renaming columns
df_grid.rename(columns={'bodyId': 'root_id','type': 'cell_type'}, inplace = True)
display(df_grid.head())

,root_id,cell_type,assignedOlHex1,assignedOlHex2,coordinates,column_id,p,q
0,17871,Mi1,29,18,"(29, 18)",0,10,-1
1,20135,Mi1,32,18,"(32, 18)",1,13,-1
2,23606,Mi1,25,13,"(25, 13)",2,6,-6
3,27788,Mi1,26,14,"(26, 14)",3,7,-5
4,30997,Mi1,20,14,"(20, 14)",4,1,-5

## 2. Extracting presynaptic connectivity via NeuPrint for DS cells

The aim here is to:
- Get T4 cell ids
- Get presynaptic partners' ids
- Identify the main Mi1 input to each T4
- Assign column_id and coordinates to each T4

In [12]:
## Define the criteria for fetching neurons in the medulla of the right optic lobe
cell_of_interest = 'T4a'
criteria = NeuronCriteria(type=cell_of_interest, rois=['ME(R)']) # Example Type: 'T4a'

# Fetch the upstream connections (presynaptic neurons) 
neuron_df, conn_df = fetch_adjacencies(None, criteria, client=c)

  0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/2 [00:00<?, ?it/s]

In [13]:
## Getting connectivity with the neurons with the grid information
grid_conn_df = conn_df[conn_df.bodyId_pre.isin(grid_neurons_ids)].copy()

# Group by bodyId_post and get the index of the max weight in each group
idx = grid_conn_df.groupby('bodyId_post')['weight'].idxmax()

# Select rows based on these indices
grid_conn_df_unique = grid_conn_df.loc[idx]
display(grid_conn_df_unique.head())
print(f'Total number of unique post neurons: {len(grid_conn_df_unique.bodyId_post.unique())}')

       bodyId_pre  bodyId_post    roi  weight
14592       35928        65399  ME(R)      37
28461       59610        74994  ME(R)      35
14391       35777        75510  ME(R)      31
12246       32871        76716  ME(R)      38
14094       35683        77361  ME(R)      36

Total number of unique post neurons: 849

In [14]:
## Adding column_id and coordinated (p,q) information
grid_conn_df_full_info = grid_conn_df_unique.merge(
    df_grid[['column_id', 'p','q','root_id']],
    how='inner',
    left_on='bodyId_pre',
    right_on='root_id'
).drop(columns=['root_id', 'roi','weight', 'bodyId_pre']).rename(columns={'bodyId_post' : 'root_id'})

# Adding informative columns
grid_conn_df_full_info['cell_type'] = [cell_of_interest] *  len(grid_conn_df_full_info)

In [15]:
grid_conn_df_full_info

     root_id  column_id   p   q cell_type
0      65399        122  -4 -11       T4a
1      74994        712 -16  -9       T4a
2      75510        108   3  -8       T4a
3      76716         12  -5 -11       T4a
4      77361        101   5  -6       T4a
..       ...        ...  ..  ..       ...
844   209645        780 -15 -15       T4a
845   539977        287  -4 -14       T4a
846   546260        634  16  12       T4a
847   547912        666 -13 -16       T4a
848   554192        672  14  17       T4a

[849 rows x 5 columns]

In [30]:
## Getting presynaptic input information (cell type names, synapses to T4, assign coordinates, column ID)

# Define which inputs you wanna include
inputs_list = ['Mi1', 'Mi4', 'Mi9']

# Initialize empty lists to store results
all_neurons_df = []
all_roi_counts_df = []
all_neurons_ids = []

# Loop over each type in the list
for cell_type in inputs_list:
    # Define the criteria for fetching neurons
    criteria = NeuronCriteria(type=cell_type, rois=['ME(R)'])

    # Fetch the neurons
    _neurons_df, _roi_counts_df = fetch_neurons(criteria, client=c)

    # Store the results
    all_neurons_df.append(_neurons_df)
    all_roi_counts_df.append(_roi_counts_df)
    all_neurons_ids.extend(_neurons_df['bodyId'].tolist())
    temp_n = len(_neurons_df['bodyId'].tolist())
    print(f'Including {temp_n} {cell_type}')

# If needed, concatenate all DataFrames into a single DataFrame
all_neurons_df = pd.concat(all_neurons_df, ignore_index=True)
all_roi_counts_df = pd.concat(all_roi_counts_df, ignore_index=True)

# Getting connectivity with the neurons with the grid information
_conn_df = conn_df[conn_df.bodyId_pre.isin(all_neurons_ids)].copy()

Including 887 Mi1
Including 889 Mi4
Including 889 Mi9