# Optic flow connectivity analysis in the male optic lobe

## 0. Setting the NeuPrint Client

In [12]:
from neuprint import Client, set_default_client

TOKEN = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InNlYmFzdGlhbi5tb2xpbmEub2JhbmRvQGdtYWlsLmNvbSIsImxldmVsIjoibm9hdXRoIiwiaW1hZ2UtdXJsIjoiaHR0cHM6Ly9saDMuZ29vZ2xldXNlcmNvbnRlbnQuY29tL2EtL0FPaDE0R2hWZjMxR2RHeURzYmtfUW5qdW00b1U4SVZ5QTBEcXNVaXdNZ1ZrTEE9czk2LWM_c3o9NTA_c3o9NTAiLCJleHAiOjE4MzA5NTQ5MTB9.YUJV-C5VoOZ-huLvc73EhWa6KWnejmemqzl9V-OrBKs'
c = Client('neuprint.janelia.org', dataset='optic-lobe:v1.0', token= TOKEN)
c.fetch_version()

'0.1.0'

In [13]:
# Set the created client as the default client
set_default_client(c)

## 1. Extracting data via NeuPrint for the grid

The aim here is to:
- Define a cell type as a reference for all the rest to assign grid coordinates
- Create unique IDs for future columns based on unique coordinates
- Clean the data if there are cells assigned to the same location

In [42]:
import pandas as pd
from neuprint import fetch_neurons, NeuronCriteria, fetch_adjacencies

# Define the criteria for fetching neurons in the medulla of the right optic lobe for the grid
criteria = NeuronCriteria(type='Mi1', rois=['ME(R)']) # Example Type for building the grid: 'Mi1'

# Fetch the neurons
grid_neurons_df, grid_roi_counts_df = fetch_neurons(criteria, client=c)
grid_neurons_ids = neurons_df['bodyId'].tolist()

In [43]:
# Fetch properties of the neurons to verify assignedOlHex1 and assignedOlHex2
properties_df, _ = fetch_neurons(NeuronCriteria(bodyId=grid_neurons_ids), client=c)
df_grid = properties_df[['bodyId', 'type', 'assignedOlHex1', 'assignedOlHex2']].copy()
print("Neurons Properties:")
display(df_grid.head())

Neurons Properties:

   bodyId type  assignedOlHex1  assignedOlHex2
0   17871  Mi1              29              18
1   20135  Mi1              32              18
2   23606  Mi1              25              13
3   27788  Mi1              26              14
4   30997  Mi1              20              14

In [69]:
## Create column id based on unique coordinates combination between assignedOlHex1 and assignedOlHex2
# Create a tuple of coordinates
df_grid['coordinates'] = list(zip(df_grid['assignedOlHex1'], df_grid['assignedOlHex2']))

# Factorize the coordinates to create a unique id
df_grid['column_id'] = pd.factorize(df_grid['coordinates'])[0]

# Check for non-unique cases
duplicates = df_grid[df_grid.duplicated(['coordinates'], keep=False)]

# Print the resulting DataFrame
display(df_grid.head())


# Print the non-unique cases, if any
if not duplicates.empty:
    print("\nNon-unique cases found:")
    print(duplicates)
    # Dropping duplicated
    print("\n>>> Dropping duplicates. Keeping the first <<<")
    df_grid_filtered = df_grid.drop_duplicates(subset=['coordinates'], keep='first')
    print(f'Final length: {len(df_grid_filtered)}')
else:
    print("All coordinate combinations are unique.")
    df_grid_filtered = df_grid.copy()

   bodyId type  assignedOlHex1  assignedOlHex2 coordinates  column_id
0   17871  Mi1              29              18    (29, 18)          0
1   20135  Mi1              32              18    (32, 18)          1
2   23606  Mi1              25              13    (25, 13)          2
3   27788  Mi1              26              14    (26, 14)          3
4   30997  Mi1              20              14    (20, 14)          4

Non-unique cases found:
     bodyId type  assignedOlHex1  assignedOlHex2 coordinates  column_id
732   63628  Mi1              35              27    (35, 27)        732
744   65798  Mi1              35              27    (35, 27)        732

>>> Dropping duplicates. Keeping the first <<<
Final length: 886

## 2. Extracting presynaptic connectivity via NeuPrint for DS cells

The aim here is to:
- Get T4 cell ids
- Get presynaptic partners' ids
- Identify the main Mi1 input to each T4
- Assign column_id and coordinates to each T4

In [70]:
## Define the criteria for fetching neurons in the medulla of the right optic lobe
criteria = NeuronCriteria(type='T4a', rois=['ME(R)']) # Example Type: 'T4a'

# Fetch the upstream connections (presynaptic neurons) 
neuron_df, conn_df = fetch_adjacencies(None, criteria, client=c)

  0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/2 [00:00<?, ?it/s]

In [71]:
## Getting connectivity with the neurons with the grid information
grid_conn_df = conn_df[conn_df.bodyId_pre.isin(grid_neurons_ids)].copy()

# Group by bodyId_post and get the index of the max weight in each group
idx = grid_conn_df.groupby('bodyId_post')['weight'].idxmax()

# Select rows based on these indices
grid_conn_df_unique = grid_conn_df.loc[idx]

In [72]:
grid_conn_df_unique

       bodyId_pre  bodyId_post    roi  weight
14592       35928        65399  ME(R)      37
28461       59610        74994  ME(R)      35
14391       35777        75510  ME(R)      31
12246       32871        76716  ME(R)      38
14094       35683        77361  ME(R)      36
...           ...          ...    ...     ...
33270       70917       209645  ME(R)      26
18008       39630       539977  ME(R)      29
25399       51284       546260  ME(R)      28
26519       54298       547912  ME(R)      30
26839       55157       554192  ME(R)      27

[849 rows x 4 columns]